html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #505489;
}

.auto-space {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Source Sans Pro, sans-serif;
}

.c-btn {
    background-image: linear-gradient(90deg, #ef146e 0, #fea958 51%, #ef146e);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: 200%;
    border-color: transparent !important;
    padding: 12px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

.c-btn:hover {
    background-image: linear-gradient(170deg, #ef146e 0, #fea958 51%, #ef146e);
}

.c-icon {
    width: 88%;
}

.c-navlink {
    color: #262f5a;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
}

.inicio {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
}

.inner-banner {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.text-yellow {
    color: #ffa808;
    font-weight: 600;
    font-size: 18px;
}

.text-white {
    color: #fff;
}

.c-titicio {
    font-weight: 700;
    font-size: 250%;
}

.c-h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1f2471;
}

.c-h4 {
    font-size: 1.5rem;
    color: #1f2471;
    font-weight: 700;
}

.center-btn {
    color: #f01f75;
    border-color: #f01f75;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    padding: 0;
    line-height: 43px;
    font-size: 20px;
    cursor: pointer;
}

.center-btn:hover {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
    border-color: transparent !important;
}

.fondo-sec1 {
    background-image: url(/img/bg-sec1.png);
    background-color: rgba(240, 31, 117, .1);
    background-position: 50%;
    background-repeat: no-repeat;
    width: 165px;
    height: 165px;
    margin: auto;
    line-height: 160px;
}

.c-panel:hover {
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);
}

.c-panel2 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.c-svg:hover,
.c-svg2:hover {
    transform: scale(1.2, 1.2);
}

.c-panel3 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);
    padding: 15px;
}

.c-secc3img {
    box-shadow: 0 2px 15px rgba(240, 31, 117, .5);
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    background-size: 200%;
    border-color: transparent !important;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.c-svg2 {
    vertical-align: middle;
}