html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #505489;
}

li {
    list-style: none;
}

.auto-space {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Source Sans Pro, sans-serif;
}

.c-btn {
    background-image: linear-gradient(90deg, #ef146e 0, #fea958 51%, #ef146e);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: 200%;
    border-color: transparent !important;
    padding: 12px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

.c-btn:hover {
    background-image: linear-gradient(170deg, #ef146e 0, #fea958 51%, #ef146e);
}

.c-navlink {
    color: #262f5a;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
}

.inicio {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
}

.inner-banner {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.text-yellow {
    color: #ffa808;
    font-weight: 600;
    font-size: 18px;
}

.text-white {
    color: #fff;
}

.c-titicio {
    font-weight: 700;
    font-size: 250%;
}

.c-h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1f2471;
}

.c2-h2 {
    font-weight: 700;
    font-size: 32px;
}

.c-h31 {
    color: #1f2471;
    font-weight: 700;
}

.c-h31:hover {
    color: #f01f75;
    cursor: pointer;
}

.c-h32 {
    font-weight: 700;
    color: #1f2471;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.c-h4 {
    font-size: 1.5rem;
    color: #1f2471;
    font-weight: 700;
}

.first-section svg {
    color: #ef146e;
}

.center-btn {
    color: #f01f75;
    border-color: #f01f75;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    padding: 0;
    line-height: 43px;
    font-size: 20px;
    cursor: pointer;
}

.center-btn:hover {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
    border-color: transparent !important;
}

.fondo-sec1 {
    background-image: url(/img/bg-sec1.png);
    background-color: rgba(240, 31, 117, .1);
    background-position: 50%;
    background-repeat: no-repeat;
    width: 165px;
    height: 165px;
    margin: auto;
    line-height: 160px;
}

.c-panel:hover {
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);

    .c-svg {
        transform: scale(1.2, 1.2);
    }
}

.c-panel2 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.c-svg2:hover {
    transform: scale(1.2, 1.2);
}

.c-panel3 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);
    padding: 15px;
    margin-bottom: 15px;
}

.c-secc3img {
    box-shadow: 0 2px 15px rgba(240, 31, 117, .5);
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    background-size: 200%;
    border-color: transparent !important;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.c-svg2 {
    vertical-align: middle;
}

.bg-gray {
    background-color: #f8f5ff;
}

.c-li {
    margin: 0 5px 10px;
    padding: 0;
}

.c-a {
    font-size: 18px;
    color: #111942;
    text-transform: capitalize;
    background-color: rgba(240, 31, 117, .1);
    padding: 10px 30px;
    border-radius: 30px;
    display: block;
    margin: 0 0 10px;
    border-color: transparent !important;
    color: #111942;
    font-weight: 550;
}

.c-btn4 {
    background-image: linear-gradient(90deg, #ef146e 0, #fea958 51%, #ef146e);
    border-radius: 30px;
    background-size: 200%;
    border-color: transparent !important;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 550;
}



.fifth-section {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 100%, #111c58);
}

.form-container {
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
}

.form-container input {
    padding-right: 16rem;
    padding-left: 1.5rem;
    height: 56px;
    border-radius: 0 22px 0 22px !important;
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 400;
    color: #888;
    transition: all .3s ease-in-out;
    background: #fff;
    border: 1px solid transparent;
    line-height: 1.5;
    font-family: inherit;
}

.form-container button {
    position: absolute;
    top: 3.5px;
    right: 3px;
}

.img-carr {
    border-radius: 50px 0 50px 50px;
}

.img-carr:hover {
    border-radius: 50px 50px 50px 0;
}

.c-card7 {
    box-shadow: 0 0 10px rgba(31, 66, 135, .3);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
    background-color: #fff;
}

.c-card7 h2 {
    color: #ef146e;
    font-weight: 700;
}

.c-card7 li {
    padding: 8px 0;
    font-weight: 600;
}

.c-card7 ul {
    padding-right: 2rem;
}

.c-card7 button {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 12px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #f01f75;
    border-color: #f01f75;
    background-color: transparent;
    font-weight: 600;
}

.c-card7 button:hover {
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f01f75;
}

.c-card7:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, #ef146e 0, #fea958 100%, #ef146e);
}

.c-card7:hover h3,
.c-card7:hover h2,
.c-card7:hover li,
.c-card7:hover button {
    color: #fff;
}

.c-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    min-width: 150px;
    border-style: none;
    max-width: 100%;
    vertical-align: middle;
    float: right;
}

.eight-section strong {
    font-size: 19px;
    font-weight: 600
}

.c-noticia {
    margin-bottom: 30px;
}

.c-img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}

.c-secc9img {
    width: 180px;
    min-width: 180px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.nine-section h5 {
    color: #1f2471;
    font-weight: 700;
    font-size: 1.25rem;
}

.nine-section h5:hover {
    color: #f01f75;
    cursor: pointer;
}

.nine-section p {
    text-wrap: pretty;
}

.nine-section li {
    font-weight: 600;
}

.c-div9 {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(31, 66, 135, .3);
    border-radius: 10px;
}

.c-li2 {
    margin-left: auto;
}

.c-li3 {
    margin-left: 15px;
}

.c-secc10 li:hover {
    transform: scale(1.02, 1.02);
}

.c-img3 {
    vertical-align: middle;
    width: 100%;
}

.ten-section {
    .container {
        max-width: 1199px;
    }
}

.ten-section form {
    padding: 50px;
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);
    background-color: #fff;
    border-radius: 10px;
}

.ten-section input,
select,
option,
textarea {
    box-shadow: 0 0 10px 4px rgba(31, 66, 135, .1);
    height: 45px;
    border-radius: 1.5rem !important;
    padding: 10px 20px;
    font-size: 15px;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: relative;
    flex: 1 1 auto;
    background: #fff;
    border: 1px solid transparent;
    color: #888;
    resize: none;
}

.ten-section button {
    cursor: pointer;
}

.footer-top {
    background-image: linear-gradient(90deg, #111c58 0, #5c2782 51%, #111c58);
}

footer {
    color: #fff;
    font-size: 15px;
}

.c-socialmedia {
    height: 32px;
    width: 32px;
    line-height: 29px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    color: #f01f75;
    background-color: #fff;
}

.c-footermedia {
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 39px;
    margin-right: 10px;
    text-align: center;
    background-color: #f01f75;
    display: block;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #ef146e 0, #fea958 105%, #ef146e);
    margin-top: 4px;
}

.footer-top h5 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0 0 15px;
    position: relative;
    line-height: 1.2;
}

.footer-top li {
    margin-bottom: 10px;
}

.footer-top li:hover {
    cursor: pointer;
}

.footer-bot {
    background-color: #111942;
    font-size: 16px;
    padding: 15px 0;
}

.footer-bot strong {
    cursor: pointer;
}

@media only screen and (max-width:1199px) {
    .form-container input {
        padding-right: 9rem;
    }
}

@media only screen and (max-width:991px) {
    .form-container input {
        padding-right: 6.75rem;
    }
}

@media only screen and (max-width:767px) {
    .form-container input {
        padding-right: 17rem;
    }
}

@media only screen and (max-width: 575px) {
    .c-div9 {
        display: block;
    }

    .c-secc9img {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #btnav {
        display: none;
    }
}